mat-drawer-container{
    height: calc(100vh - 64px);
}

mat-drawer{
    padding: 1rem 0.6rem;

    &::-webkit-scrollbar{
        width: 8px;
    }
}
.mat-drawer-inner-container{
    padding-right: 8px;
}

.sticky-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-60%);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border: 1px solid #868585;
    padding: 0.6rem 0.3rem 0.6rem 1.5rem;
    width: 2rem;
}