<app-header></app-header>
<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer #drawer [opened]="opened" mode="side">
        
        <mat-accordion multi>
            <h3 class="mat-title">Monitor</h3>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Servers</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item><a href="#">Emerging Device Software</a></mat-list-item>
                    <mat-list-item><a href="#">Campaign Management</a></mat-list-item>
                    <mat-list-item><a href="#">SoftPhone</a></mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Application Endpoints</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item><a href="#">Emerging Device Software</a></mat-list-item>
                    <mat-list-item><a href="#">Campaign Management</a></mat-list-item>
                    <mat-list-item><a href="#">SoftPhone</a></mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <h3 class="mat-title mt-4">Manage</h3>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Tickets</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item><a href="#">IEDM</a></mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <div (click)="onToggleSideNav()" class="sticky-button c-pointer">
            <mat-icon #chevron>{{ opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>